.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.centerMarker {
  position: absolute;
  left: calc(50% - 0.75rem);
  top: calc(50% - 0.75rem);
  width: 1.5rem;
  height: 1.5rem;
  color: #424242;
  pointer-events: none;
}

.myLocationButton {
  top: 4em;
  left: 0.5em;
}
